/samples/bin/flash/*
/samples/bin/html5/*
/samples/bin/windows/*
/samples/bin/android/*
/samples/bin/.build
samples/bin/.build
/samples/bunnymark/bin/flash
/samples/bunnymark/bin/html5
/samples/original-demo/bin/android
/samples/original-demo/bin/flash
/samples/original-demo/bin/html5
/samples/original-demo/bin/windows
/samples/bunnymark/bin/windows
